#!/bin/rc

rfork en
builtin flag e +

REMOTE=https://github.com/PCRE2Project/pcre2
VERSION=10.45

fn die{
	>[1=2] echo $0: $*
	exit $"*
}

if(! {test -d deps/pcre2 >/dev/null >[2]/dev/null})
	git/clone $REMOTE deps/pcre2
builtin cd deps/pcre2
test -f .git/refs/tags/pcre2-$VERSION || die 'tag not found'
taghash=`{cat .git/refs/tags/pcre2-$VERSION}
git/fs
cat .git/fs/object/$taghash | awk '
	BEGIN{
		commit=""
	}
	/^object /{
		if(commit != ""){
			exit 1
		}
		commit=$2
	}
	END{
		if(commit == ""){
			print Invalid tag format
			exit 1
		}
		printf("%s", commit) > "/env/commithash"
		close("/env/commithash")
	}
' || die 'Invalid tag format'
if(~ ''`{cat .git/HEAD} $commithash) exit
if({git/walk -fMARU | grep .})
	die 'repo is dirty'
echo $commithash > .git/HEAD
@{
	rfork e
	for(f in `{walk -n,1})
		if(! ~ $f .git)
			rm -rf $f
}
@{builtin cd .git/fs/object/$commithash/tree && tar cif /fd/1 .} \
	| @{tar xf /fd/0} \
	|| die 'checkout failed:' $status
